extends: default.liquid
---
<!-- Start content left -->
<div class="content left">
  <!-- Start posts -->
  <div class="posts">
    {% for post in posts %}
      <article>
        <!-- Start post-header -->
        <div class="post-header">
          <h2 class="post-title">
            <a href="{{ post.path }}">{{ post.title }}</a>
          </h2>
        <div class="post-meta">
          <span class="post-date">
            {% if post.date %}
              <i>Veröffentlicht am {{ post.humandate }}</i>
            {% endif %}
          </span>
        </div>
        <!-- End post-header -->
        <!-- Start post-content -->
        <div class="post-content">
          {{ post.content | truncatewords: 30, '...' }}
          <div class="blog_post_control clearfix">
            <div class="blog_post_control_item blog_post_readmore">
              <a class="read_more_link" href="{{ post.path }}">Weiterlesen</a>
            </div>
          </div>
        </div>
        <!-- End post-content -->
      </article>
    {% endfor %}
  </div>
  <!-- End posts -->
</div>
<!-- End content left -->

<div class="sidebar right">
  <div class="widget widget-recent-posts">
    <div class="widget-content">
      <h3 class="widget-title">Neueste Beiträge</h3>
      <ul>
        {% for post in posts %}
				  <li>
				    <a href="{{ post.path }}">{{ post.title }}</a>
          </li>
        {% endfor %}
			</ul>
    </div>
  </div>
  <div class="clear"></div>
  <div class="widget widget-tag-cloud">
    <div class="widget-content">
      <h3 class="widget-title">Tags</h3>
      <div class="tag-cloud">
        <a href="#">Test1</a>
        <a href="#">Test2</a>
      </div>
    </div> 
  </div>
</div>
<div class="clear"></div>

