extends: default.liquid
---
<div class="home content left">
  <div>
    {% for post in posts %}
      <article>
        <div class="blog_post clearfix">
          <h2><a href="{{ post.path }}">{{ post.title }}</a></h2>
          <div class="post-preview clearfix">
            {{ post.content | truncatewords: 30, '...' }}
            <div class="blog_post_control clearfix">
              <div class="blog_post_control_item blog_post_readmore">
                <a class="read_more_link" href="{{ post.path }}">Weiterlesen</a>
              </div>
            </div>
          </div>
        </div>
      </article>
    {% endfor %}
  </div>
</div>
<div class="sidebar right">
  <div class="sidebar-part sidebar-recent-posts">
    <div class="sidebar-part-content">
      <h3 class="sidebar-title">Neueste Beiträge</h3>
      <ul>
        {% for post in posts %}
				  <li>
				    <a href="{{ post.path }}">{{ post.title }}</a>
          </li>
        {% endfor %}
			</ul>
    </div>
  </div>
  <div class="clear"></div>
  <div class="sidebar-part sidebar-tag-cloud">
    <div class="sidebar-part-content">
      <h3 class="sidebar-title">Tags</h3>
      <div class="tag-cloud">
        
      </div>
    </div> 
  </div>
</div>
<div class="clear"></div>

