<div class="post">
  <h2>{{ title }}</h2>
  <div class="post-body">
    <div id="metadata">
      {% if date %}
          <i>Veröffentlicht am {{ humandate }}</i>
      {% endif %}
      {% if tags %}
          <i> - tags: {{ tags }}</i>
      {% endif %}
      {% if categories %}
          <i> - Kategorie: {{ categories }}</i>
      {% endif %}
    </div>
    {{ content }}   
  </div>
</div>
